@import-normalize; /* bring in normalize.css styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.6rem;
  color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 9px solid green; */
  /* border-radius: 5px; */
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

.container {
  flex: 1;
  margin-top: 5rem 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.vert {
  height: 70vh;
  width: 15rem;
  margin: 0 3rem;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.6rem;
  flex: 1;
  flex-wrap: nowrap;
}
button {
  border: none;
  width: 100%;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background-color: inherit;
}
button:hover {
  color: black;
}

.fa-solid {
  color: rgba(255, 0, 0, 0.5);
  margin-right: 0.5rem;
  transition: all 0.5s ease-in-out;
}
.fa-solid:hover {
  color: red;
}

.blink {
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Styling each Die */
.Die {
  font-size: 10em;
  padding: 0.25em;
  color: slateblue;
}

/* Applying Animation */
.Die-shaking {
  animation-name: wobble;
  animation-duration: 1s;
}

/* Setting Animation effect to the
dice using css keyframe */
@keyframes wobble {
  from {
    transform: translate3d(0, 0, 0);
  }
  15% {
    transform: translate3d(25%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }
  30% {
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  45% {
    transform: translate3d(15%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  60% {
    transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -2deg);
  }
  75% {
    transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1, 1deg);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

/* Applying Animation */
.Die-shaking2 {
  animation-name: wobble2;
  animation-duration: 1s;
}

/* Setting Animation effect to the
dice using css keyframe */
@keyframes wobble2 {
  from {
    transform: translate3d(0, 0, 0);
  }
  15% {
    transform: rotate3d(0, 0, 1, -1deg) translate3d(-5%, 0, 0);
  }
  30% {
    transform: rotate3d(0, 0, 1, 2deg) translate3d(10%, 0, 0);
  }
  45% {
    transform: rotate3d(0, 0, 1, -3deg) translate3d(-15%, 0, 0);
  }
  60% {
    transform: rotate3d(0, 0, 1, 3deg) translate3d(20%, 0, 0);
  }
  75% {
    transform: rotate3d(0, 0, 1, -5deg) translate3d(-25%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
