@import-normalize; /* bring in normalize.css styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.vert {
  height: 50vh;
  margin: 0 3rem;
  flex-direction: column;
  justify-content: space-between;
}
button {
  border: none;
  width: 100%;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
button:hover {
  color: black;
}

.fa-solid {
  color: rgba(255, 0, 0, 0.5);
  margin-right: 0.5rem;
  transition: all 0.5s ease-in-out;
}
.fa-solid:hover {
  color: red;
}
